body {

    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}


th {
    color: #0d6efd96;
}
td, h2 {
    color: rgba(7, 107, 255, 0.71);
}